#price{
    display: flex;
}

.input{
    width: 100px;
}

#minus{
    margin-left: 15px;
    margin-right: 15px;
}

#button{
    display: flex;
    justify-content: center;
}

#sidebar{
    color: white;
    background-color: #002E80;
}

.value-item{
    margin-top: 8px;
}