#logo{
    width: 100px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
}

.navbar-elem{
    color: black;
}

.active-elem{
    color: #002E80;
}

.nav-icons {
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
}

@media (min-width: 990px) {
    #mobile-navbar {
      display: none;
    }
  }